@mixin CenterCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

$cotainerHeight: 2.5rem;
$containerWidth: 13rem;
$clrBtnHeight: 1rem;
$clrBtnWidth: 1.5rem;

#colorSettingsButton {
    @include CenterCenter();
    position: fixed;
    top: 20vh;
    left: -10rem;
    z-index: 999;
    height: fit-content;
    width: $containerWidth;
    background-color: #0000009a;
    backdrop-filter: blur(5px);
    transition: left .5s ease;

    .color-settings-closer {
        @include CenterCenter();
        flex-direction: row;
        height: $cotainerHeight;
        width: 100%;
        margin: .2rem .2rem .2rem 0rem;

        .clrBox {
            @include CenterCenter();
            justify-content: space-evenly;
            width: calc(($containerWidth/100)*75);
            height: 100%;

            .clrOption{
                background-color: #fff;
                height: $clrBtnHeight;
                width: $clrBtnWidth;
                margin-right: .7rem;
                margin-left: .3rem;
                border-radius: 1rem;
            }
        }
    }

    .clrController{
        @include CenterCenter();
        .clrController-closer{
            @include CenterCenter();
            .left{
                @include CenterCenter();
            }
            .right{
                @include CenterCenter();
                flex-direction: column;
                .up,
                .down{
                    @include CenterCenter();
                }                
            }
        }
    }
}

#colorSettingsButton:hover{
    left: 0rem;
    transition: left .4s ease-in;
}

/* =============== Color Btn setting =============== */
/* color set -> 1 */
$colr_1_pri: #6f0202;
$colr_1_sec: #b30000;
$colr_1_faded: #f2bbbb;
$colr_1_ultraLight: #b3000036;
.clrBox #colorOption1{
    background: $colr_1_sec!important;
    border: 1px ridge $colr_1_faded;
}

.clrBox #colorOption1:hover{
    position: relative;
    top: -3px;
    box-shadow: 0px 2px 5px $colr_1_faded;
    cursor: pointer;
}

/* color set -> 2 */
$colr_2_pri: #0300b4;
$colr_2_sec: #0052ef;
$colr_2_faded: #85a9eb;
$colr_2_ultraLight: #0052ef36;
.clrBox #colorOption2{
    background: $colr_2_sec!important;
    border: 1px ridge $colr_2_faded;
}

.clrBox #colorOption2:hover{
    position: relative;
    top: -3px;
    box-shadow: 0px 2px 5px $colr_2_faded;
    cursor: pointer;
}

/* color set -> 3 */
$colr_3_pri: #217344;
$colr_3_sec: #2e8b57;
$colr_3_faded: #99e9bc;
$colr_3_ultraLight: #2e8b5736;
.clrBox #colorOption3{
    background: $colr_3_sec!important;
    border: 1px ridge $colr_3_faded;
}

.clrBox #colorOption3:hover{
    position: relative;
    top: -3px;
    box-shadow: 0px 2px 5px $colr_3_faded;
    cursor: pointer;
}